@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body, html {
  background: #4d7c8a;
  margin: none;
}

.header-two {
  margin: none;
  background: #2c2a4a;
  height: 10vh;
  width: 100;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-two > h2 {
  font-family: 'Squada One', cursive;
  font-style: italic;
  font-size: 8vh;
  color: #42f2f7;
  text-align: center;
  margin: 0;
}

.ship-console {
  height: 90vh;
  display: flex;
}

.ship-list {
  
  padding: 2%;
  width: 10%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.ship-list button {
  background: #2c2a4a;
  padding: 5px;
  border: none;
  color: #42f2f7;
  font-family: "Squada One", cursive;
  font-size: 30px;
  border-radius: 10px 20px;
}

.all-ships li{
  background: #42f2f7;
  margin: 15px;
  text-align: center;
  font-family: 'Squada One', cursive;
  font-size: 20px;
}

.ship-designing {
  padding: 2%;
  width: 82%;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #2c2a4a;
  font-family: 'Squada One', cursive;
  font-size: 40px;
  font-style: italic;   
  color: #2c2a4a;
}
