@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body, html {
  background: #4d7c8a;
  margin: none;
}

.header-two {
  margin: none;
  background: #2c2a4a;
  height: 10vh;
  width: 100;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-two > h2 {
  font-family: 'Squada One', cursive;
  font-style: italic;
  font-size: 8vh;
  color: #42f2f7;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 3px white;
}

.ship-console {
  height: 90vh;
  background: linear-gradient(to bottom, #2c2a4a, #4d7c8a);
  display: flex;
}

.ship-list {
  padding: 2%;
  width: 10%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.ship-list input {
  margin: 3px;
  padding: 2px;
  border: 2px solid #2c2a4a;
  border-radius: 4px;
}

.ship-list button {
  background: #2c2a4a;
  padding: 5px;
  border: 1px #42f2f7 outset;
  color: #42f2f7;
  font-family: "Squada One", cursive;
  font-size: 30px;
  border-radius: 10px 20px;
  margin: 3px;
  box-shadow: 0 0 4px #42f2f7;
  cursor: pointer;
}

#add-button {
  font-size: 20px;
  box-shadow: 0 0 3px #42f2f7;
}

.all-ships li{
  background: #42f2f7;
  margin: 15px;
  padding: 2px;
  text-align: center;
  font-family: 'Squada One', cursive;
  font-size: 20px;
  border: 2px solid #2c2a4a;
  border-radius: 5px;
  box-shadow: 0 0 2px #42f2f7;
  cursor: pointer;
}

.ship-designing {
  padding: 2%;
  width: 78%;
  background: #4d7c8a;
  display: flex;
  justify-content: space-between;
  border: 5px solid #2c2a4a;
  border-bottom: none;
}

.editing-console {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.ship-info {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ship-name {
  font-family: 'Squada One', cursive;
  font-size: 40px;
  font-style: italic;
  text-shadow: 0 0 5px #42f2f7;
}

.ship-picture {
  height: 15vh;
  margin-top: 10px;
}

.ship-picture img{
  max-height: 100%;
  width: auto;
  background: white;
  object-fit: contain;
  border: 2px solid #2c2a4a;
  border-radius: 10px 20px;
  box-shadow: 0 0 3px #42f2f7;
}

.ship-class {
  margin-top: 10px;
  font-family: 'Squada One', cursive;
  font-size: 30px;
  text-shadow: 0 0 5px #42f2f7;
}

.ship-slots {
  justify-self: flex-start;
  font-family: 'Squada One', cursive;
  list-style: none;
  font-size: 30px;
}

.ship-equipment-info-title {
  margin-top: 30px;
  text-decoration: underline;
  text-shadow: 0 0 5px #42f2f7;
}

.ship-slots li {
  margin-top: 10px;
  margin-left: 10px;
  text-transform: capitalize;
  text-shadow: 0 0 3px #42f2f7;
  cursor: pointer;
}

#edit-button {
  align-self: flex-start;
  border: 1px #42f2f7 inset;
  margin-top: 3%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Squada One', cursive;
  font-size: 20px;
  background: #2c2a4a;
  color: #42f2f7;
  border-radius: 20px 10px;
  cursor: pointer;
  box-shadow: 0 0 3px #42f2f7;
}

.edit-ship {
  display: flex;
  width: 60%;
}

.edit-ship-display {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.change-name {
  width: 100%;
  font-family: "Squada One", cursive;
  font-size: 175%;
  text-shadow: 0 0 5px #42f2f7;
}

.change-name input {
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #2c2a4a;
  padding: 2px;
  border-radius: 24x;
  box-shadow: 0 0 3px #42f2f7;
}

.change-name button {
  background: #2d3047;
  padding: 6px;
  border: 2px #2c2a4a outset;
  font-family: "Squada One", cursive;
  color: #42f2f7;
  font-size: 20px;
  margin: 3px;
  border-radius: 20px;
  box-shadow: 0 0 4px #42f2f7;
  cursor: pointer;
}

.edit-hull {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.edit-hull-list {
  height: 58%;
  margin-bottom: none;
}

.edit-hull-title {
  font-family: "Squada One", cursive;
  font-size: 175%;
  text-shadow: 0 0 5px #42f2f7;
}

.all-hulls {
  margin-top: 1%;
  height: 75%;
  width: 100%;
  column-count: 2;
  column-fill: auto;
}

.hull-list {
  margin-left: 2%;
  margin-top: 5px;
  width: 40%;
  background: #42f2f7;
  padding: 2px;
  text-align: center;
  font-family: 'Squada One', cursive;
  font-size: 20px;
  border: 2px solid #2c2a4a;
  border-radius: 5px;
  box-shadow: 0 0 2px #42f2f7;
}

.hull-list li{
  list-style: none;
  font-family: "Squada One", cursive;
  font-size: 25px;
  cursor: pointer;
}

.edit-hull-list-title {
  margin-top: 10px;
  margin-left: 2%;
  font-family: "Squada One", cursive;
  font-size: 27px;
  text-shadow: 0 0 2px #42f2f7;
  text-decoration: underline;
}

.edit-hull-preview {
  border: 1px solid #2c2a4a;
  margin-top: 15px;
  height: 60%;
  font-family: "Squada One", cursive;
  font-size: 25px;
  text-shadow: 0 0 2px #42f2f7;
}

.edit-hull-preview li {
  list-style: none;
  margin-top: 5px;
  margin-left: 5%;
  font-family: "Squada One", cursive;
  font-size: 25px;
  text-shadow: 0 0 2px #42f2f7;
  text-transform: capitalize;
}

.edit-hull-notice {
  margin-top: 5%;
  margin-left: 15%;
  font-family: "Squada One", cursive;
  font-size: 25px;
  text-shadow: 0 0 2px #42f2f7;
}

.edit-hull-preview-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.equipment-slots {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.equipment-list {
  width: 70%;
  column-count: 2;
  column-fill: auto;
}

.equipment-list li {
  list-style-type: disc;
}

.button-box {
  align-self: flex-end;
}

.button-box button {
  background: #2d3047;
  padding: 6px;
  border: 2px #2c2a4a outset;
  font-family: "Squada One", cursive;
  color: #42f2f7;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 4px #42f2f7;
  cursor: pointer;
}

.equipment-parts {
  margin: 8px;
  height: 25%;
}

.equipment-parts-title {
  font-family: "Squada One", cursive;
  font-size: 175%;
  text-shadow: 0 0 5px #42f2f7;
}

.slot-preview {
  font-family: "Squada One", cursive;
  font-size: 150%;
  text-shadow: 0 0 5px #42f2f7;
  margin-top: 2%;
  margin-left: 15%;
}

.equipment-parts-list {
  height: 75%;
  column-count: 2;
  column-fill: auto;
}

.equipment-part {
  margin-top: 1%;
  margin-left: 3%;
  width: 28%;
  list-style: none;
  background: #42f2f7;
  padding: 2px;
  text-align: center;
  font-family: 'Squada One', cursive;
  font-size: 20px;
  border: 2px solid #2c2a4a;
  border-radius: 5px;
  box-shadow: 0 0 2px #42f2f7;
  cursor: pointer;
}

.edit-button-box {
  height: 7%;
  display: flex;
  justify-content: space-between;
}

.edit-button-box button {
  background: #2d3047;
  padding: 6px;
  border: 2px #2c2a4a outset;
  font-family: "Squada One", cursive;
  color: #42f2f7;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 4px #42f2f7;
  cursor: pointer;
}

#delete-button {
  background: red;
  color: black;
}